[flake8]
# E265 : auto-commented code parts don't have space after `#`
# E401 : allow multiple imports per line
# W503, W504 : we break lines before, after `|` operator (e.g. signals.py)
# N812 : e.g. import logic as L
ignore = E265, W503, E401, W504, N812

