[submodule "recordings"]
	path = recordings
	url = rizhom@figur.li:recordings.git
[submodule "data"]
	path = data
	url = rizhom@figur.li:data.git
[submodule "smanmi"]
	path = smanmi
	url = rizhom@figur.li:smanmi.git
