Pillow
PyAudio # OSX run before: brew install portaudio
PyCmdMessenger
aiohttp
functiontrace
jupyterlab
matplotlib
ml_collections
mypy
numpy
pandas
git+https://github.com/google-research/self-organising-systems#egg=self_organising_systems
git+https://github.com/pvigier/perlin-numpy
pylint
pytest
# rtmidi_python
scipy
pyserial
tensorflow_cpu # tensorflow-macos
yapf
google-cloud-speech
openai
opencv-python 
open3d
audinterface
audonnx
cython==0.29
ultralytics
pylibfreenect2
filterpy