* {
  font-family: "Poppins",sans-serif;
  color: white; 
  font-size: 1.5rem;
}
html {

}
body {
  padding: 20px;
  background: black;
}
h1 {
}
#title {
  font-size: 80px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  font-family: "Poppins",sans-serif;
  margin: 0;
}

button {
  background: black;
  border: 2px solid white;
  padding: 5px 20px;
}
.on {
  background: white;
  color: black;
}
#top {
  display:flex;
}
#left, #right {
  text-align: center;
  flex-grow: 1;
}
p {
  font-size: 2rem;
  margin-top: 20;
  margin-bottom: 10px;
}
#bottom {
  text-align: center;
  margin-top: 5vh;
}
.flex {
  /* display: flex; */
}
.label {
  margin-right: 20px;
}
.grow {
  flex-grow: 1;
}
.answer-gpt-text {
  font-size: xx-large; /* Sets the font size to small */
}