@font-face {
  font-family: 'Changa ExtraBold';
  src: url('Changa-ExtraBold.ttf') format('truetype');
}

#title {
  font-size: xxx-large;
  font-weight: bold;
  text-align: center;
  color: #020;
  font-family: Changa ExtraBold;
  margin: 0;
}

#container {
  display:flex;
}

@media screen and (max-width:1199px) {
  #container {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width:1200px) {

  html, body, #container, #left, #right {
    height: 100%;
  }

  #left, #right {
    width: 50%;
    overflow: scroll;
    scrollbar-width: none;  /* FF */
  }
}

#left::-webkit-scrollbar,
#right::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.inner > * {
  margin-bottom: 20px;
}

#leds {
  margin-top: 1rem;
}

.widget {
  margin: 15px 0;
}

.widget select {
  margin-right: 10px;
}

.header {
  margin-right: 1rem;
  text-decoration: underline;
}

.key {
  margin-left: 5px;
}

.css {
}

select {
  border: 0;
  outline: 0;
}

.record.recording .start { display: none; }
.record .stop { display: none; }
.record.recording .stop { display: inline-block; }
.record input[type=text] { width: 150px; }
.record.recording input[type=text] { display: none; }
.record .name { display: none; }
.record.recording .name { display: inline-block; }
.playback .bars {
  display: flex;
  align-items: center;
  height: 150px;
}
.playback .bars span {
  border: 1px solid #0f0;
  display: inline-block;
  width: 2px;
}
.playback .bars span:hover {
  border: 1px solid #f00;
  background: #f00;
}
.playback .bars .on {
  background: #0f0;
}
.playback .dt {
  text-align: right;
}

.rec .comments {
  width: 100%;
  height: 5rem;
}

.active {
  color: red;
}

.blink {
  animation: blinker 1s step-start infinite;  
}
@keyframes blinker { 50% { opacity: 0; } }
