#leds {
  margin-top: 1rem;
}

.widget {
  margin: 15px 0;
}

.widget select {
  margin-right: 10px;
}

.header {
  width: 100px;
  text-decoration: underline;
}

.record.recording .start { display: none; }
.record .stop { display: none; }
.record.recording .stop { display: inline-block; }
.record input[type=text] { width: 150px; }
.record.recording input[type=text] { display: none; }
.record .name { display: none; }
.record.recording .name { display: inline-block; }
.playback .bars {
  display: flex;
  align-items: center;
  height: 150px;
}
.playback .bars span {
  border: 1px solid #0f0;
  display: inline-block;
  width: 2px;
}
.playback .bars span:hover {
  border: 1px solid #f00;
  background: #f00;
}
.playback .bars .on {
  background: #0f0;
}
.playback .dt {
  text-align: right;
}
