* {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.5rem;
}
body {
  padding: 0px;
  background: black;
}
#title {
  font-size: 50px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
#top {
  display: flex; 
  transform: scale(0.86);
  transform-origin: left; /* Ensures scaling happens from the left */
}
#left, #right {
  text-align: center;
  flex-grow: 1;
  margin-right: 20px;
  margin-left: 20px;
}
p {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
}
#affectwords {
  text-align: center;
  margin-top: 1vh;
  color: black !important;
}
.answer-gpt-text {
  font-size: xx-large;
}
