* {
  font-family: Helvetica, Arial, sans-serif;
  color: white; 
  font-size: 1.5rem;
}
html {

}
body {
  padding: 10px;
  background: black;
}
h1 {
}
button {
  background: black;
  border: 2px solid white;
  padding: 5px 20px;
}
.on {
  background: white;
  color: black;
}
#top {
  display:flex;
}
#left, #right {
  text-align: center;
  flex-grow: 1;
}
#bottom {
  margin-top: 10vh;
}
.flex {
  /* display: flex; */
}
.label {
  margin-right: 20px;
}
.grow {
  flex-grow: 1;
}